# Backend environment variables for Render deployment
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/kenko?retryWrites=true&w=majority
FRONTEND_URL=https://hospital-management-system-drab-beta.vercel.app
